<div class="card-group">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div>
                                <h2>Drop file</h2>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <i class="mdi mdi-emoticon font-20"></i>
                        <p class="font-16 m-b-5">New Clients</p>
                    </div>
                    <div class="ml-auto">
                        <h1 class="font-light text-right">23</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

