<div class="card-group">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="drop-area">
                        <h2>Chunche</h2>
                        <span>o</span>
                        <button>Seleccionar</button>
                        <input type="file" name="" id="input-file" hidden >
                    </div>
                    <div id="preview"></div>
                </div>
                <div class="col-md-6">
                    <div>
                        <i class="mdi mdi-emoticon font-20"></i>
                        <p class="font-16 m-b-5">New Clients</p>
                    </div>
                    <div class="ml-auto">
                        <h1 class="font-light text-right">23</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

