*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.drop-area{
    border: 5px dashed #ddd;
    height: auto;
    width: 90%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.drop-area.active{
    background-color: #b8d4fe;
    color: #000000;
    border: 2px dashed #618ac9;
}
.drop-area h2{
    font-size: 30px;
    color: #000000;
    font-weight: 500;
}
.drop-area span{
    font-size: 25x;
    color: #000;
    font-weight: 500;
}
.drop-area button{
    padding: 10px 25px;
    font-size: 20px;
    border: 0;
    outline: none;
    background-color: #5256ab;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}
.file-container{
    display: flex;   
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px #ddd;
}
#preview{
    margin-top: 10px;
}
.status-text{
    padding: 0 10px;
}
.succes{
    color: #52ad5a;
}
.failure{
    color: #ff0000;
}