<mat-toolbar color="primary" class="mat-elevation-z6">
    <span> <img src="assets/img/3.jpg" height="20%" width="10%"> ¿Dónde compraste tu chunche?</span>     

    <div class="spacer">

    </div>

    <a mat-button routerLink=""> <mat-icon>home</mat-icon> Inicio</a>
    <a mat-button routerLink="/search"> <mat-icon>search</mat-icon> Buscar</a>
    <a mat-button routerLink="/score"> <mat-icon>star</mat-icon> Puntuacion</a>
    <a mat-raised-button  color="warn" routerLink="/login"> Login</a>

  </mat-toolbar>
